---
import Layout from "layouts/Layout.astro";
import { prisma } from "lib/prisma";

type FrontMatter = {
  slug: string;
  title: string;
  series?: string;
  description: string;
  publishedAt: string;
  featured?: boolean;
};
const _posts = await Astro.glob<FrontMatter>("./*.mdx");
const posts = await Promise.all(
  _posts.map(async (p) => {
    const viewsAndLike = await prisma.post.findUnique({
      where: { slug: p.url },
      select: { views: true, _count: { select: { likes: true } } },
    });

    return {
      title: p.frontmatter.title,
      description: p.frontmatter.description,
      publishedAt: p.frontmatter.publishedAt,
      slug: p.url,
      views: viewsAndLike?.views ?? 0,
      likes: viewsAndLike?._count.likes ?? 0,
    };
  })
);
---

<Layout title='Blog'>
  <main class='layout space-y-6 py-12 pb-24'>
    <div class='pb-8'>
      <h1 class='mb-2 text-4xl font-bold text-primary'>Blog</h1>
      <p class='max-w-[60ch] text-lg dark:text-zinc-400'>
        A place where I share my knowldege and learning mostly on Frontend (React), A11Y, and
        sometimes full-stack. Sharing struggles at time.
      </p>
    </div>
    <ul class='space-y-10'>
      {
        posts.map((p) => {
          return (
            <li class='group relative gap-8 rounded-md transition-all'>
              <h2 class='mb-2 text-lg font-medium '>
                <a href={p.slug} class='link-card'>
                  <span class="absolute -inset-5 -z-20 scale-95 rounded-md bg-zinc-100 dark:bg-zinc-900 opacity-0 transition-all group-hover:scale-100 group-hover:opacity-100"></span>
                  {p.title}
                </a>
              </h2>
              <div class='mb-4 flex items-center gap-4'>
                <span class='text-sm text-zinc-600 dark:text-zinc-400'>
                  {Intl.DateTimeFormat("en-US", { day: "numeric", month: "short" }).format(
                    new Date(p.publishedAt)
                  )}
                </span>
                <span class='text-sm text-zinc-600 dark:text-zinc-400'> {p.views} views</span>
                <span class='text-sm text-zinc-600 dark:text-zinc-400'> {p.likes} likes</span>
              </div>
              <p class='dark:text-zinc-400 text-zinc-600'>{p.description}</p>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
