---
import Layout from "layouts/Layout.astro";
import { prisma } from "lib/prisma";

type FrontMatter = {
  slug: string;
  title: string;
  series?: string;
  description: string;
  publishedAt: string;
  featured?: boolean;
};
const _posts = await Astro.glob<FrontMatter>("./*.mdx");
const posts = await Promise.all(
  _posts.map(async (p) => {
    const viewsAndLike = await prisma.post.findUnique({
      where: { slug: p.url },
      select: { views: true, _count: { select: { likes: true } } },
    });

    return {
      title: p.frontmatter.title,
      description: p.frontmatter.description,
      publishedAt: p.frontmatter.publishedAt,
      slug: p.url,
      views: viewsAndLike?.views ?? 0,
      likes: viewsAndLike?._count.likes ?? 0,
    };
  })
);
---

<Layout title='Blog'>
  <main class='layout space-y-6 py-12'>
    <div class='border-b-[1px] border-black pb-8'>
      <h1 class='mb-2 text-4xl font-bold'>Blog</h1>
      <p class='max-w-[60ch] text-lg'>
        A place where I share my knowldege and learning mostly on Frontend (React), A11Y, and
        sometimes full-stack. Sharing struggles at time.
      </p>
    </div>
    <ul class='space-y-4'>
      {
        posts.map((p) => {
          return (
            <li class='group  relative gap-8 rounded-md p-4 transition-all hover:bg-gray-100'>
              <h2 class='mb-2 text-lg font-medium'>
                <a href={p.slug} class='link-card group-hover:text-blue-500'>
                  {p.title}
                </a>
              </h2>
              <div class='mb-4 flex items-center gap-4'>
                <span class='text-sm text-gray-600'>
                  {Intl.DateTimeFormat("en-US", { day: "numeric", month: "short" }).format(
                    new Date(p.publishedAt)
                  )}
                </span>
                <span class='text-sm text-gray-600'> {p.views} views</span>
                <span class='text-sm text-gray-600'> {p.likes} likes</span>
              </div>
              <p class=''>{p.description}</p>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
