---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import clsx from "clsx";
import ProjectCard from "components/ProjectCard.astro";
import type { BlogFrontmatter, ProjectFrontmatter } from "types";
import { nanoid } from "nanoid";
import { WEEK_IN_SECONDS } from "utils/constants";

const featureGradients = [
  "bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-500",
  "bg-gradient-to-tr from-green-300 via-blue-500 to-purple-600",
  "bg-gradient-to-tr from-green-300 via-yellow-300 to-pink-300",
];

const _posts = await Astro.glob<BlogFrontmatter>("./blog/*.mdx");
const posts = _posts
  .filter((p) => p.frontmatter.featured)
  .map((p) => {
    const slug = p.url ?? "";
    return {
      title: p.frontmatter.title,
      slug,
    };
  });

const _projects = await Astro.glob<ProjectFrontmatter>("./projects/*.mdx");
const projects = _projects
  .filter((p) => p.frontmatter.featured)
  .map((p) => {
    const slug = p.url ?? "";
    return {
      slug,
      title: p.frontmatter.title,
      publishedAt: p.frontmatter.publishedAt,
      description: p.frontmatter.description,
      cover: p.frontmatter.cover,
    };
  });

// Based on vercel recommendation https://vercel.com/docs/concepts/functions/serverless-functions/edge-caching
Astro.response.headers.set("Cache-Control", `max-age=0, s-maxage=${WEEK_IN_SECONDS}`);
---

<Layout title=''>
  <main class='' id='skip-content'>
    <div class='layout flex items-center justify-between py-20'>
      <div class='space-y-12'>
        <h1
          class='max-w-3xl text-3xl font-bold leading-relaxed dark:text-white sm:text-5xl sm:leading-[4rem]'>
          <span
            class='bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-2xl text-transparent sm:text-4xl'
            >Hello! 안녕! こんにちは! I'm Fazza</span
          >. <p>I build software to create a better world.</p>
          <p>I love to share and teach while I'm at it.</p>
        </h1>
        <div class='flex items-center space-x-4'>
          <a
            href='/blog'
            class='group flex items-center gap-2 rounded-md bg-[hsl(260,43%,96%)] p-4 text-sm font-medium text-[#6548c3] dark:bg-primaryDarker dark:text-white'
            >Read the blog <Icon
              name='ic:sharp-chevron-right'
              class='w-5 group-hover:translate-x-1 transition-all'
              aria-hidden='true'
            />
          </a>
          <a
            href='/projects'
            class='rounded-sm p-4 text-sm font-medium underline underline-offset-1 hover:no-underline'
            >See projects</a
          >
        </div>
      </div>
    </div>
    <div class='layout space-y-8 py-8'>
      <h2 class='text-2xl font-bold dark:text-white sm:text-3xl'>Featured Posts</h2>
      <ul class='grid gap-6 sm:grid-cols-2 lg:grid-cols-3'>
        {
          posts.map((p, i) => {
            const uid = nanoid();
            return (
              <li
                class={clsx(
                  "group relative rounded-md p-[6px] transition-transform hover:scale-[101%] ",
                  featureGradients[i]
                )}>
                <input type='text' hidden value={p.slug} id={"slug" + uid} />
                <div class='flex h-full flex-col rounded-sm justify-between bg-white p-4 dark:bg-bgDark dark:text-white'>
                  <h3 class='mb-8 text-xl font-medium'>
                    <a href={p.slug} class='link-card'>
                      {p.title}
                    </a>
                  </h3>
                  <project-meta id={uid}>
                    <div class='flex items-center gap-2'>
                      <div class='flex items-center gap-1'>
                        <Icon name='ic:outline-remove-red-eye' class='w-5' aria-hidden='true' />
                        <span class='text-sm' id={`views-${uid}`} >0</span>
                      </div>
                      <div class='flex items-center gap-1'>
                        <Icon name='mdi:cards-heart-outline' class='w-5' aria-hidden='true' />
                        <span class='text-sm' id={`likes-${uid}`} >0</span>
                      </div>
                    </div>
                  </project-meta>
                </div>
              </li>
            );
          })
        }
      </ul>
      <a
        href='/blog'
        class='transition-color flex items-center gap-1 py-2 first-line:font-semibold dark:text-zinc-300 dark:hover:text-zinc-100'
        >Read all post <Icon name='ic:sharp-arrow-right-alt' class='w-8' />
      </a>
    </div>
    <div class='layout space-y-8 py-12'>
      <h2 class='mb-4 text-2xl font-bold dark:text-white sm:text-3xl'>Featured Projects</h2>
      <ul class='grid gap-12 sm:grid-cols-2 lg:grid-cols-3'>
        {
          projects.map((p) => {
            return <ProjectCard {...p} />;
          })
        }
      </ul>
      <a
        href='/projects'
        class='transition-color flex items-center gap-1 py-2 first-line:font-semibold dark:text-zinc-300 dark:hover:text-zinc-100'
        >See all projects <Icon name='ic:sharp-arrow-right-alt' class='w-8' />
      </a>
    </div>
  </main>
</Layout>
