---
import Layout from "../layouts/Layout.astro";
import globe from "../assets/globe3d-clean.png";
import { prisma } from "lib/prisma";

type FrontMatter = {
  slug: string;
  title: string;
  series?: string;
  description: string;
  publishedAt: string;
  featured?: boolean;
};

type ProjectFrontMatter = {
  title: string;
  description: string;
  cover: string;
  publishedAt: string;
  github: string;
  liveSite: string;
  featured?: boolean;
};

const _posts = await Astro.glob<FrontMatter>("./blog/*.mdx");
const posts = await Promise.all(
  _posts
    .filter((p) => p.frontmatter.featured)
    .map(async (p) => {
      const viewsAndLike = await prisma.post.findUnique({
        where: { slug: p.frontmatter.slug },
        select: { views: true, _count: { select: { likes: true } } },
      });

      return {
        title: p.frontmatter.title,
        description: p.frontmatter.description,
        views: viewsAndLike?.views ?? 0,
        likes: viewsAndLike?._count.likes ?? 0,
      };
    })
);

const _projects = await Astro.glob<ProjectFrontMatter>("./projects/*.mdx");
const projects = await Promise.all(
  _projects
    .filter((p) => p.frontmatter.featured)
    .map(async (p) => {
      const slug = p.frontmatter.title.toLowerCase().split(" ").join("-");

      const viewsAndLike = await prisma.post.findUnique({
        where: { slug },
        select: { views: true, _count: { select: { likes: true } } },
      });

      return {
        slug,
        title: p.frontmatter.title,
        publishedAt: p.frontmatter.publishedAt,
        desription: p.frontmatter.description,
        cover: p.frontmatter.cover,
        views: viewsAndLike?.views ?? 0,
        likes: viewsAndLike?._count.likes ?? 0,
      };
    })
);
---

<Layout title='Fazza Razaq Amiarso'>
  <main class=''>
    <div class='layout flex items-center justify-between py-20'>
      <div class='space-y-12'>
        <h1 class='text-5xl font-bold leading-relaxed'>
          <span
            class='bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent'
            >Hello! I'm Fazza</span
          >. I build software to create a better world. I love to share and teach while I'm at it.
        </h1>
        <div class='space-x-4'>
          <a href='/blog' class='rounded-sm bg-black p-4 text-sm text-white'>Read the blog</a>
          <a href='/projects' class='rounded-sm p-4 text-sm ring-1 ring-black'>See projects</a>
        </div>
      </div>
      <!-- <img src={globe} alt='' width='400px' class='animate-updown' /> -->
    </div>
    <div class=''>
      <div class='layout space-y-6 py-12'>
        <h2 class='text-2xl font-bold'>Featured Posts</h2>
        <ul class='flex gap-8'>
          {
            posts.map((p) => {
              return (
                <li class='basis-1/3'>
                  <div class='h-full  rounded-md'>
                    <h3 class='mb-2 text-lg font-semibold'>{p.title}</h3>
                    <p>{p.description}</p>
                    <div class='flex items-center gap-2'>
                      <div>{p.views} views</div>
                      <div>{p.likes} likes</div>
                    </div>
                  </div>
                </li>
              );
            })
          }
        </ul>
        <a href='/blog' class='inline-block py-2 first-line:font-semibold'>See all post</a>
      </div>
    </div>
    <div class=''>
      <div class='layout py-12'>
        <h2 class='mb-4 text-2xl font-bold'>Featured Projects</h2>
        <ul class='flex -translate-x-6 items-start gap-8'>
          {
            projects.map((p) => {
              return (
                <li class='space-y-2 rounded-lg p-6 hover:bg-gray-100'>
                  <div class='aspect-square w-10 rounded-full bg-black ring-1 ring-black ring-offset-4' />
                  <h3 class='text-lg font-semibold'>{p.title}</h3>
                  <p class=''>{p.desription}</p>
                  <div class='flex items-center gap-6'>
                    <p>{p.views} views</p>
                    <p>{p.likes} likes</p>
                  </div>
                </li>
              );
            })
          }
        </ul>
        <a href='/projects' class='inline-block py-2 first-line:font-semibold'>See all projects</a>
      </div>
    </div>
  </main>
</Layout>
