---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

export type Props = {
  cover: string;
  slug: string;
  title: string;
  description: string;
};

const props = Astro.props;
---

<li class='group relative space-y-4 rounded-lg transition-all dark:text-zinc-400'>
  <div
    class='h-10 w-10 rounded-full p-[6px] ring-1 ring-zinc-900/25 dark:bg-zinc-600/50 dark:ring-zinc-500/50'>
    <Image
      src={props.cover.startsWith("https")
        ? props.cover
        : import(`../assets/projects/${props.cover}.png`)}
      alt=''
      width={400}
      height={400}
      format='webp'
      class='h-full w-full object-cover object-center rounded-full'
    />
  </div>
  <div class='space-y-2'>
    <h3 class='text-lg font-semibold dark:text-white'>
      <a href={props.slug} class='link-card'>
        <span
          class='absolute -inset-5 -z-20 scale-95 rounded-md bg-zinc-100 opacity-0 transition-all group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-900'
        ></span>
        <span class='sr-only'>See more detail on {props.title} project</span>
        {props.title}
      </a>
    </h3>
    <p class='line-clamp-3'>{props.description}</p>
  </div>
  <project-meta data-slug={props.slug}>
    <div class='flex items-center gap-6'>
      <div class='flex items-center gap-1'>
        <Icon name='ic:outline-remove-red-eye' class='w-5' aria-hidden='true' />
        <span class='text-sm' id='content-views'>0</span>
      </div>
      <div class='flex items-center gap-1'>
        <Icon name='mdi:cards-heart-outline' class='w-5' aria-hidden='true' />
        <span class='text-sm' id='content-likes'>0</span>
      </div>
    </div>
  </project-meta>
</li>

<style>
  project-meta {
    display: block;
  }
</style>
<script>
  import axios from "axios";

  class ProjectMeta extends HTMLElement {
    constructor() {
      super();
    }

    static get observedAttributes() {
      return ["data-views", "data-likes"];
    }
    async connectedCallback() {
      const slug = this.dataset.slug;
      const res = await axios.get("/api/views", { params: { slug } });
      const { views, likes } = res.data;
      this.setAttribute("data-views", views);
      this.setAttribute("data-likes", likes);
    }

    attributeChangedCallback() {
      (this.querySelector("#content-views") as HTMLElement).innerText =
        this.getAttribute("data-views") ?? "";
      (this.querySelector("#content-likes") as HTMLElement).innerText =
        this.getAttribute("data-likes") ?? "";
    }
  }

  customElements.define("project-meta", ProjectMeta);
</script>
