---
import Layout from "layouts/Layout.astro";
import type { SnippetsFrontmatter } from "types";
import { WEEK_IN_SECONDS } from "utils/constants";

const snippets = await Astro.glob<SnippetsFrontmatter>("./*.mdx");

Astro.response.headers.set("Cache-Control", `max-age=0, s-maxage=${WEEK_IN_SECONDS}`);
---

<Layout title='Snippets'>
  <main id='skip-content' class='layout space-y-6 py-12'>
    <div class='pb-8'>
      <h1 class='mb-2 text-4xl font-bold text-primary'>Snippets</h1>
      <p class='max-w-[60ch] text-lg dark:text-zinc-400'>
        Collection of code snippets that I found useful. Hope it can help someone too.
      </p>
    </div>

    <ul class='grid gap-4 sm:grid-cols-2 lg:grid-cols-3'>
      {
        snippets.map((s) => {
          return (
            <li class='group relative flex flex-col rounded-md bg-white p-5 ring-1 ring-zinc-200 transition-all hover:ring-2 hover:ring-primary dark:bg-bgDark dark:ring-zinc-700 dark:hover:ring-primary'>
              <h2 class='mb-1 text-lg font-bold'>
                <a href={s.url} class='link-card'>
                  <span class='sr-only'>read {s.frontmatter.title} snippets</span>
                  {s.frontmatter.title}
                </a>
              </h2>
              <p class='mb-4 dark:text-zinc-400'>{s.frontmatter.description}</p>
              <ul class='mt-auto flex items-center space-x-4'>
                {s.frontmatter.tags.map((t) => (
                  <li class='text-sm'>#{t}</li>
                ))}
              </ul>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
