---
import { LikeWrapper } from "components/mdx/LikeButton";
import TOC from "components/mdx/TOC.astro";
import { prisma } from "lib/prisma";
import Layout from "./Layout.astro";

const { frontmatter, headings } = Astro.props;
const ip = Astro.clientAddress;

const slug = frontmatter?.slug ?? frontmatter.title.toLowerCase().split(" ").join("-");
// TODO: Separate layout for blog and projects
const postMeta = await prisma.post.upsert({
  where: { slug },
  select: { views: true, _count: { select: { likes: true } } },
  create: { slug },
  update: { views: { increment: 1 } },
});
---

<Layout title={frontmatter.title} desc={frontmatter.description}>
  <main class='space-y-12 pb-24'>
    <div class='bg-gray-200 pb-12 pt-24'>
      <div class='layout'>
        <a href='/' class='text-sm underline'>Home</a>
        <h1 class='mb-2 text-4xl font-bold'>{frontmatter.title}</h1>
        <p class='text-lg'>{frontmatter.description}</p>
        <div class='flex items-center gap-2'>
          <p class='text-sm'>
            {
              new Intl.DateTimeFormat("en-US", { dateStyle: "long" }).format(
                new Date(frontmatter.publishedAt)
              )
            }
          </p>
          -
          <p class='text-sm'>{postMeta.views} views</p>
          -
          <p class='text-sm'>{frontmatter.minutesRead} minutes</p>
        </div>
      </div>
    </div>
    <div class='layout grid grid-cols-4 gap-x-2'>
      <article
        class='blog prose col-span-3 prose-headings:scroll-mt-20 max-lg:col-span-4 md:prose-lg'>
        <slot />
      </article>
      <aside class='max-lg:hidden'>
        <div class='sticky top-20'>
          <TOC pageHeadings={headings} />
          <div class='my-4 h-px w-full bg-black'></div>
          <div class='flex justify-between'>
            <LikeWrapper
              client:load
              slug={frontmatter.slug}
              ip={ip}
              initialLikes={postMeta._count.likes}
            />
            <button id='scroll-top' type='button' class='text-sm'>⬆️ Back to top</button>
          </div>
        </div>
      </aside>
    </div>
  </main>
</Layout>

<script>
  const scrollTopButton = document.querySelector("#scroll-top") as HTMLButtonElement;
  scrollTopButton.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<style is:global>
  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    margin-right: 1.5rem;
  }

  .heading-group {
    position: relative;
  }
  .heading-group::before {
    position: absolute;
    content: "#";
    height: 100%;
    width: 50px;
    transform: scale(1.5);
    left: -1rem;
    opacity: 0;
    transition: all 100ms ease-in-out;
  }
  .heading-group:hover::before {
    opacity: 1;
  }
  .heading-group a {
    content: "";
    position: absolute;
    inset: 0;
  }

  .blog img {
    @apply mx-auto rounded-md;
  }
</style>
