---
import type { MDXLayoutProps } from "astro";
import Article from "components/mdx/Article.astro";
import Layout from "./Layout.astro";

type Props = MDXLayoutProps<{
  title: string;
  description: string;
  publishedAt: string;
  tags: string[];
}>;

const {
  frontmatter: { tags, title, description },
} = Astro.props;
---

<Layout title={title} desc={description}>
  <main class='layout !max-w-3xl space-y-12 py-12'>
    <div>
      <h1 class='mb-2 text-4xl font-bold dark:text-primary'>{title}</h1>
      <p class='text-zinc-600 dark:text-zinc-400'>{description}</p>
      <ul class='flex items-center gap-4'>{tags.map((t) => <li>#{t}</li>)}</ul>
    </div>
    <Article class='prose'><slot /></Article>
  </main>
</Layout>
